/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900i');
body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box !important;
    white-space: normal !important;
}
.movie-home {
    .item-md {
        padding-right: 16px;
    }
}
.color--blue {
    color: #136CB2;
}
.flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
p,span {
    font-size: 14px;
    line-height: 1.5;
}
.post-comment {
    .item-md,.item-ios {
        padding-left: 0 !important;
    }
    .item-ios.item-block .item-inner {
       border: none !important;
    }
}