<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Movie
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="movie-inner" padding>
  <div class="loader" *ngIf="!movie">
      <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div class="content flex" *ngIf="movie">
      <div class="img-container">
        <img [src]="movie.Poster" alt="">
      </div>
      <div class="desc">
        <h2>{{title}} ({{year}})</h2>
        <p> {{movie.Plot}}</p>
        <div class="desc-item"><span class="desc-label">Director: </span><span>{{movie.Director}}</span></div>
        <div class="desc-item"><span class="desc-label">Stars: </span><span>{{movie.Actors}}</span></div>
        <div class="desc-item"><span class="desc-label">Released: </span><span>{{movie.Released}}</span></div>
        <div class="desc-item"><span class="desc-label">Rated: </span><span>{{movie.Rated}}</span></div>
        <div class="desc-item"><span class="desc-label">Runtime: </span><span>{{movie.Runtime}}</span></div>
        <div class="desc-item"><span class="desc-label">Genre: </span><span>{{movie.Genre}}</span></div>

        <div class="desc-item"><span class="desc-label">Language: </span><span>{{movie.Language}}</span></div>
        <div class="desc-item"><span class="desc-label">Country: </span><span>{{movie.Country}}</span></div>
        <div class="desc-item"><span class="desc-label">Website: </span><span>{{movie.Website}}</span></div>
        <div class="rating">
            <ion-icon name="star"></ion-icon>
            <span class="rating-data"><strong>{{rating}}</strong>/5</span>
        </div>
        <div class="star-rating">
          <span class="rating-label">Rate now</span>
          <app-star-rating [imdbID]="movie.imdbID" (updateRating)="updateRatingData($event)"></app-star-rating>
        </div>
      </div>
  </div>
  <div class="comments" *ngIf="comments">
    <h2>Comments</h2>
    <app-comment-list [commetList]="comments"></app-comment-list>
  </div>
  <div class="post-comment" *ngIf="movie">
    <h2>Post Comment</h2>
    <app-post-comment-form (addComment)="updateComments($event)" [imdbID]="movie.imdbID"></app-post-comment-form>
  </div>
</ion-content>
