.movie-inner {
    position: relative;
}
.content {
    padding: 16px;
    margin-bottom: 30px;
    .img-container {
        width: 40%;
        font-size: 0;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    .desc {
        width: 60%;
        padding: 0 10px;
        p {
            margin-bottom: 20px;
            border-bottom: 1px #ccc solid;
            padding-bottom: 20px;
        }
        .desc-label {
            font-size: 17px;
            font-weight: bold;
            display: inline-block;
            margin-right: 7px;
        }
        .desc-item {
            margin-bottom: 15px;
        }
    }
    .rating {
        position: relative;
        display: inline-block;
        height: 35px;
        ion-icon {
            font-size: 4.2em;
            color: #e4bb24;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        } 
        .rating-data {
            margin-left: 45px;
            display: inline-block;
            line-height: 37px;        
        }
    }
    .comments {
        padding: 16px;
    }
}
.star-rating {
    margin-top: 20px;
    .rating-label {
        display: block;
        font-weight: bold;
    }
}
.loader {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
    ion-spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.post-comment {
    padding: 0 16px;
    margin-bottom: 50px;
}

@media screen and (max-width: 568px) {
    .content {
        display: block !important;
        .img-container {
            width: 100%;
            text-align: center;
            img {
                max-width: 320px;
            }
        }
        .desc {
            width: 100%;
            margin-top: 20px;
            padding-left: 0;
            padding-right: 0;
        }
    }

}
