.stars {
    display: inline-block;
    height: 25px;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            margin-right: 5px;
            a {
                color: #4a4848;
                font-size: 25px;
                &.active {
                    color: #e4bb24;
                }
            }
        }
    }
}