

<div class="stars">
	<ul  (mouseleave) ="clearStars()">
		<li *ngFor="let star of starRatings">
			<a href="javascript:void(0)" (click)="submitRating(star)" (mouseover)="onStarHover(star)" [class.active]="star<=hoveredRating"><ion-icon ios="ios-star" md="md-star"></ion-icon></a>
		</li>
	</ul>
</div>

