ion-item {
    h3 {
        font-weight: bold;
        font-size: 18px;
        span {
            display: inline-block;
            margin-left: 2px;
        }
    }
    p {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}