<ion-list>
    <ion-item *ngFor="let comment of commetList">
        <div>
          <h3><ion-icon name="contact"></ion-icon> <span>{{comment.name}}</span></h3>
          <span><em>{{comment.date}}</em></span>
          <p>{{comment.comment}}</p>
        </div>
    </ion-item>  
</ion-list>