<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="movie-home" padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="gotoMovie(movie)" class="col-lg-3" >
      <ion-card>
        <img [src]="movie.Poster" />
        <div class="cad-desc" >
          <h2 class="color--blue">
              {{movie.Title}} ({{movie.Year}})
          </h2>
          <div class="rating">

          </div> 
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
