.movie-item {

}
.cad-desc {
    padding: 5px 10px;
    white-space: normal !important;
    h2 {
        margin: 5px 0 0;
        font-size: 2.9rem;
       
    }
    .rating {
        margin: 5px 0 0;
    }
}