<div class="post-comment">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label>{{username}}</ion-label>
    </ion-item>

    <ion-item class="text-area-container">
      <ion-label style="display:blod">Comment</ion-label>
      <ion-textarea rows="5" formControlName="comment"></ion-textarea>
    </ion-item>
    <div class="submit-container">
        <button [disabled]="isSubmitting" ion-button type="submit" block>Post Comment</button>
    </div>
  </form>
</div>
