.post-comment {
    max-width: 600px;
    // border: 1px #ccc solid;
    border-radius: 3px;
    padding: 15px 5px;
}
.text-area-container {
    ion-textarea {
        margin: 5px 0;
       background-color: #d4d4d4;
    }
}
.submit-container {
    padding: 30px 0 20px;
    text-align: right;
    button {
        max-width: 200px;
        display: inline-block;
        margin-right: 20px;
    }
}
